{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html>
<head>
{{ moment.include_moment() }}
	<title>{% block title %}Afanyo Schools{% endblock %}</title>
</head>
<body>

{% block navbar %}
	{% if not current_user.is_authenticated %}
	<div>
		<a class="btn btn-primary" href="{{ url_for('login') }}">Staff Login</a>
		<a class="btn btn-primary" href="{{ url_for('register') }}">Register</a>
	</div>
	{% else %}
		<div>
			<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
			{% if current_user.can(Permission.TEACHER) %}
			<a class="btn btn-primary" href="{{ url_for('add_student') }}">Add Student</a>
			{% endif %}
			{% if current_user.can(Permission.HEADMASTER) %}
			<a class="btn btn-primary" href="{{ url_for('class_ad') }}">Add Class</a>
			{% endif %}
		</div>
		<p class="badge">{% if current_user.role %}{{ current_user.role.name }} {% else %} User {% endif %}</p>
	{% endif %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>
